  
  @media screen and (max-width: 1024px) {
    .image-text-section {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .image-wrapper {
      text-align: center
    }
  }
  @keyframes slideIn {
    0% {
      transform: translateY(75px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .image-text-section {
    display: flex;
    gap: 100px;
    padding: 20px 50px;
    width: 100%;
    margin-top: 100px;
    overflow: hidden;
  }

  .image-wrapper {
    width: 50%;
    text-align: end;
    overflow: hidden;
    animation: slideIn 1s ease;
  }
  .image-wrapper img {
    width: 70%;
    transition: transform 3s ease;
  }

  .image-wrapper img:hover {
    transform: scale(1.2);
  }

  .text-wrapper {
    width: 50%;
  }
  .text-outline {
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-color: currentColor;
    -webkit-text-stroke-width: 0.02em;
    background-size: 100% 80%;
  }

  .text-wrapper h2 {
    font-size: 4vh;
    line-height: 1.1em;
    letter-spacing: -2px;
    font-weight: 600;
    width: 60%;
    margin-top: 0;
    color: #194e59;
  }

  .text-wrapper h5 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 60px;
    color: #194e59;
    animation: slideIn 1s ease;
  }

  .text-wrapper button {
    padding: 15px 40px;
    background: #45a371;
    color: white;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
  }
